
html, body {
    overflow: auto;
}
/** navbar **/
header {
    background-color: black;
    }

    .navbar {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    
    }

    ol {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
    }

    ol li {
        margin: 0 20px;
        padding: 10px 20px;
        position: relative;
        transition: all 0.2s;
        transition-delay: 0.2s;
    }

    ol li a {
        color: white;
        text-decoration: none;
    }

    ol li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transition: all 0.2s;
    }

    ol li:hover::before {
        bottom: 40px;
        background: rgb(255, 63, 63);
    }

    ol li:hover {
        background: rgb(255, 63, 63);
    }

    .navbar h2 {
        color: white;
        text-align: left;
        justify-content: right;
    }


    div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    }

    .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
    }

    /** main **/

    main {
        text-align: center;
        margin-top: 70px;
       
    }

    h3, h1 {
        font-weight: bold;
        text-decoration: underline;
    }

    #usage {
        margin-top: 30px;
    }

    #bouton {
        background-color: black;
        color: white;
      }

      #rappel {
        font-size: 20px;
      }
    
       /** bouton haut de la page **/
       #bouton {
        background-color: black;
        color: white;
      }

      #rappel {
        font-size: 20px;
      }
      footer {
        text-align: center;
      }